/* 1. Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Design parameters */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --accent-color: #ffffff; /* Color for buttons and small details */
  --gray-text: #a7a7a7;
  --transition-speed: 0.8s; /* for fadeout */
}

/* 3. Default body styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  overflow: hidden; /* Blocks scroll during intro */
  height: 100vh;
  width: 100vw;
}

/* 4. Intro */
#intro-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition:
    opacity var(--transition-speed) ease-in-out,
    visibility var(--transition-speed);
}
